
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes backgroundImageAnimate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
body {

  background-image: url('./assets/img/tomato.png');
  background-repeat: repeat;
  animation: backgroundImageAnimate 50s linear infinite alternate;
}

.appContainer{
  background-color: #A90101;
  color: white;
  margin: 200px;
  height: 400px;
  border-radius: 20px 20px 50px 50px;
  
}
.settings {
  display: flex;
  justify-content: space-evenly;
}

.SetTimer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.SetTimer-setting {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.Timer {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Controls {
  display: flex;
  justify-content: center;
}

.Header {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  border-bottom: white 3px solid; 

}

.Timer{
  margin-top: 100px;
}


#start_stop{
  font-size: 20px;

}

#reset{

  font-size: 20px;

}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
body {

  background-image: url('./assets/img/tomato.png');
  background-repeat: repeat;
  animation: animatedBackground 50s linear infinite alternate;
}



