* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-image: url("clockbackground.png");

}

.settings {
  display: flex;
  justify-content: space-around;
}
.SetTimer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SetTimer-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Controls {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
}

@font-face{
  font-family:'digital-clock-font';
  src: url('digital-7.ttf');
 }