* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-image: url("clockbackground.png");

}


a {
  color: #333;
  text-decoration: none;
}

.main{
  position: relative;
  left: 1em;
  top: 1em;
}